# created by virtualenv automatically
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
Scripts/
Lib/
lib64/
Include/
*.egg-info/
.installed.cfg
*.egg
.vscode/
*.cfg

#Misc directories
ehmatthes-pcc_2e-1.1-2-g078318e/
